:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.login-card {
  min-width: 450px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.login-info-actions {
  display: flex;
  gap: 8px;
}
